<a href="https://colab.research.google.com/github/Sanket2iconic/Google-colab-files/blob/main/mid_assi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value = 230

if value>112:

print(value)

value +=1

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-2-2511a3e86890>, line 5)

In [ ]:
len("Almabetter")

10

In [ ]:
print(len("Pseudopodia"))

11

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}
print(my_dict.get("d", 0))

0

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [ ]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num == 3:
        break
    print(num)

1
2

In [ ]:
#What is the output of the following code?

numbers = [1, 2, 3, 4, 5]
new_numbers = []
for num in numbers:
    new_numbers.append(num * 2)
print(new_numbers)

[2, 4, 6, 8, 10]

In [ ]:
for i in range(3):
    for j in range(2):
        print(i*j)

0
0
0
1
0
2

In [ ]:
set1 = {1, 2, 3, 4, 5}
print(set1[4:6])

TypeError: 'set' object is not subscriptable

In [ ]:
x = 5
y = "5"
if x == y:
    print("x is equal to y")
else:
    print("x is not equal to y")

x is not equal to y

In [13]:
my_string = "hello world"
print(my_string[-5:-2])
print(my_string[13])

wor

IndexError: string index out of range

In [12]:
100+ 5* (10+6)

180

In [14]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(len(my_set))

0

In [15]:
languages=["Python", "Java", "C", "C++"]
for language in languages:
    print(language)

Python
Java
C
C++

In [16]:
my_list = [1, 2, 3, 4, 5]
print(my_list[1:4:2])

[2, 4]

Prgraming quetions

Write a Python program to get the smallest number from a list.

Example 1:
Input:
[1, 2, -8, 0]

Output:
-8

In [17]:
l1=eval(input())
l2=min(l1)
print(l2)

[1, 2, -8, 0]
-8

Write a Python program to print a specified list after removing the 0th, 4th and 5th elements

Example 1:
Input:
['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

Output:
['Green', 'White', 'Black']

In [18]:
l1=eval(input())
l2=list(l1[1:4])
print(l2)

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
['Green', 'White', 'Black']

Write a Python program to append a list to the second list.

Example 1:
Input:
[1, 2, 3, 0]

['Red', 'Green', 'Black']

Output:
[1, 2, 3, 0, 'Red', 'Green', 'Black']

In [19]:
list1 = eval(input())
list2 = eval(input())
print(list1+list2)

[1, 2, 3, 0]
['Red', 'Green', 'Black']
[1, 2, 3, 0, 'Red', 'Green', 'Black']

Write a Python program to test whether all numbers of a list is greater than a certain number.

Example 1:
Input:
[2, 3, 4, 5]

1

Output:
True

In [20]:
l1=eval(input())
n=int(input())
print(all(i>n for i in l1))

[2, 3, 4, 5]
1
True

Write a Python program to check a triangle is equilateral, isosceles or scalene. Note : An equilateral triangle is a triangle in which all three sides are equal. A scalene triangle is a triangle that has three unequal sides. An isosceles triangle is a triangle with (at least) two equal sides.

Example 1:
Input:
6

8

12

Output:
Scalene triangle

In [21]:
s1=eval(input())
s2=eval(input())
s3=eval(input())
if s1!=s2!=s3:
  print("Scalene triangle")
elif s1==s2==s3:
  print("Equilateral triangle")
elif s1==s2 or s2==s3 or s1==s3:
  print("Isosceles triangle")
else:
  print("Check the sides value proper")

12
6
6
Isosceles triangle