<a href="https://colab.research.google.com/github/Sanket2iconic/Google-colab-files/blob/main/Time_Space_complexity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#time complexity


---



---
#Big O notation - time taken by the program in order to exicute

---



---

O(1): constant time complexity

In [3]:
def add(x,y):
  return x+y

In [4]:
add(5,5)

10

In [5]:
add(61651654062646531301,6241642464661640641641464)

6241704116315703288172765

In [6]:
#time taken by prgram in both the cases is constant

# O(n): Linear time complexity

> Add blockquote

In [11]:
a=[1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

In [13]:
a=[1,2,3,4,5,2,5,6,4,8,9,2,4,5,66,56,6,5,5,5,5,5,5,5,5,5,5,5,]
for i in a:
  print(i)

1
2
3
4
5
2
5
6
4
8
9
2
4
5
66
56
6
5
5
5
5
5
5
5
5
5
5
5

In [19]:
a=[1,2,3,4,5]
sum=0
for i in a:
  sum=int(sum+i)
print(sum)

15

# O(n**2): Quadratic time complexity

In [24]:
a=[[1,2,3,4,5],[6,7,8,9,10]]
b=[]
for i in a:
  for j in i:
    b.append(j)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
a=[1,2,3,4]
for i in range(len(a)):
  for j in range(len(a)):
    print(a[i],a[j])

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4